:root {
  /* background */
  --primary-white-color: #ffffff;
  --c-dark-color: #2f303a;
  --c-light-grey-color: #f5f4fa;

  /* text */
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --text-white-color: var(--primary-white-color);
  --text-black-color: #000000;
  --text-dark-color: rgb(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* logo */

.logo {
  color: var(--primary-black-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--text-white-color);
}

/* header */

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contact-nav {
  color: var(--title-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link-nav .link.current {
  color: var(--accent-color);
}

/* Section Hero */

.section-hero {
  background-color: var(--c-dark-color);
}

.title-hero {
  color: var(--text-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.hero-feature {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.hero-description {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Section our team */

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.title-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-profession {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* button */

.button {
  background-color: var(--accent-color);
  color: var(--text-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* Footer */

.footer {
  background-color: var(--c-dark-color);
}

.address-footer {
  color: var(--text-dark-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-address {
  color: var(--text-white-color);
}

.button-portfolio {
  background-color: var(--c-light-grey-color);
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--text-white-color);
}

/* Section portfolio */

.portfolio-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
